body {
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
} /*Taustan väri, oletusfontti ja marginaalit*/   
h1 {
    color: #333333; 
    font-family: 'Bitter', serif; 
    font-size: 50px; font-weight: normal; 
    line-height: 54px; margin: 0 0 54px; 
} /*otsikko 1 tyyli*/
h2 {
    color: #333333; 
    font-family: 'Bitter', serif; 
    font-size: 30px; font-weight: normal; 
    line-height: 35px; margin: 0 0 25px; 
} /*otsikko 2 tyyli */
h3 {
    color: #333333; 
    font-family: 'Bitter', serif; 
    font-size: 20px; font-weight: normal; 
    line-height: 35px; margin: 0 0 25px; 
} /*otsikko 3 3tyyli*/
p { 
    color: #333333; 
    font-family: Georgia, serif;
    font-size: 18px; 
    line-height: 25px; 
    margin: 0 0 28px; 
} /*leipätekstin tyyli*/
a { 
    color: #c73036; 
    font-family: Georgia, serif; 
    text-decoration: underline; 
} /*hyperlinkin tyyli*/
a:hover { 
    color: #333333; 
    text-decoration: underline; 
} /*hyperlinkin tyyli kun hiiri päällä*/
.main-header { 
    text-align: center;
    border-bottom: 3px solid #666; padding: 0 0 30px 0; margin-bottom: 30px;
} /*pääotsikon keskitys*/
.alaviite {
    color: #c73036;
    font-family: georgia, serif; 
    font-size: 16px; 
    line-height: 26px; 
    text-indent: 30px; 
    margin: 0;
} /*Otsikon alaviitteen muotoilu*/
.main {
    padding: 16px; 
    margin-top: 50px;
    height: 1500px;
} /*Layout sisällölle jotta toimii yläpalkin kanssa oikein*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 10%;
} /*attribuutti kuvan keskitystä varten*/
.navbar {
    overflow: hidden; 
    background-color:rgb(89, 97, 104); 
    position:fixed; 
    top: 0; 
    width: 100%;
} /*yläpalkin muotoilu*/
.navbar a {
    float: left; 
    display:block; color: #f2f2f2; 
    text-align:center; 
    padding: 14px 16px; 
    text-decoration: none;
} /*yläpalkin solujen muotoilu*/
.navbar a:hover {
    color:black; 
    background: rgb(240, 235, 235);
} /*yläpalkin solujen muotoilu kun aktiivisena*/
